.abutus {
    display: inline-block;
    width: 100%;
}

.BooksHolder {
    position: absolute;
}

.abtimg {
    text-align: center;
    transform: rotate(90deg);
    max-height: fit-content;
    max-width: fit-content;
    /* animation: rotation 2s infinite linear; */
}

.book-ani {
    animation: rotation 20s infinite linear;
}

.book:nth-child(1) {
    position: relative;
    top: 100%;
    right: 50%;
    transform: rotate(-55deg);
}

.book:nth-child(2) {
    position: relative;
    top: 150%;
    left: 80%;
    transform: rotate(-30deg);
}

.book:nth-child(3) {
    position: relative;
    top: 20%;
    left: -80%;
    transform: rotate(-30deg);
}

.book:nth-child(4) {
    position: relative;
    top: 20%;
    left: 200%;
    transform: rotate(-30deg);
}

/* .book:nth-child(5) {
    position: relative;
    top: 420px;
    left: 20%;
    transform: rotate(50deg);
  } */
.abtcontainer {
    background-color: #dedede;
    margin-top: 10%;
    margin-bottom: 8%;
    margin-left: 25%;
    width: 50%;
    padding: 12px;
    border-radius: 25px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1080deg);
    }
}

.heading {
    color: #3aafa9;
    font-size: 45px;
    text-align: center;
    letter-spacing: 1.5px;
    /* font-family: 'OpenSans'; */
}

span {
    font-family: "ocr";
}

.abuttext {
    padding: 20px 20px;
    height: fit-content;
    font-size: 20px;
    letter-spacing: 0.9px;
    color: #2a938e;
    font-family: Helvetica;
    text-align: justify;
}



@media (max-width: 1200px) {
    .heading{
        font-size: 35px;
    }
    .abuttext{
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    .abtcontainer {
        margin-left: 20%;
        width: 60%;
    }
}

@media (max-width: 768px) {
    .heading{
        font-size: 25px;
    }
    .abuttext{
        font-size: 15px;
    }
    .BooksHolder{
        display: none;
    }
    .abtimg{
        display: none;
    }
    .abtcontainer{
        margin-left: 20%;
        width: 55%;
    }
}

@media (max-width: 500px) {
    .heading{
        font-size: 5vw;
    }
    .abtcontainer {
        margin-left: 10%;
        width: 75%;
    }
    .abuttext{
        font-size: 3.5vw;
    }
}
