.faq {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;

  }
  
  .faq2 {
    display: flex;
    justify-content: center;
  }
  
  .faqheading {
    color: #2a938e;
    font-size: 60px;
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 50px;
  }
  
  .faqbox {
    background-color: rgb(202, 202, 202);
    height: 400px;
    padding: 16px;
    margin: 90px 10px 0px 40px;
    border-radius: 25px;
    font-size: 20px;
    transition: 0.7s;
    cursor: pointer;
  }
  
  .faqbox:hover  {
    background-color: #17252a;
    transform: scale(1.05);
  }

  .faqbox:hover  .answertext{
    color: white;
  }
  
  .question {
    color: #2a938e;
    font-size: 30px;
    font-weight: bold;

  }
  
  .answertext {
    margin-top: 40px;
    color: #124d4c;
    font-size: 20px;
  }

  .swiper_container{
    padding-bottom: 80px!important;
  }
  
  @media (max-width: 500px) {
    .faqbox{
        height: 335px;
        margin: 90px 40px 50px 40px;
    }
    .answertext {
        font-size: 15px;
        font-weight: normal;
    
      }
      .question{
        font-size: 25px;
      }
  }

  /* .swiper-pagination {
    position: relative;
    width: 15rem !important;
    bottom: 1rem;
  } */
  
  /* .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
  } */