.maincontainer {
    background-color: #3aafa9;
}

.text1 p{
    color: #fff !important;
}

.container {
    display: flex;
    margin: auto;
    height: 100%;
    /* padding-bottom: 10%; */
}

.maincontainer .text1 {
    margin: auto;
    margin-top: 25vh;

}


.logoText{
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.tagline{
    font-size: 50px;
    letter-spacing: 1.5px;
}

.homeimage {
    margin: auto;
    margin-top: 15vh;
}

.abtBtn {
    text-transform: uppercase;
    padding: 14px;
    color: #000000;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    word-spacing: 5px;
    letter-spacing: 1.2px;
    box-shadow: 5px 5px black;
}

.btn {
    display: absolute;
    top: 200px;
    margin-top: 50px;
    margin-bottom: 120px;
}

.abtBtn:hover {
    background-color:#17252a;
    color: #def2f1;
    box-shadow: 5px 5px #def2f1;

}

.computer {
    width: 500px;
}


@media (max-width: 1200px) {
    .computer {
        width: 400px;
    }
}

@media (max-width: 992px) {
    .logoText .tagline{
        font-size: 35px;
    }
    .tagline{
        font-size: 35px;

    }

    
}

@media (max-width: 768px) {
    .computer {
        margin-top: 40px;
        width: 200px;
    }

    .logoText {
        font-size: 4vh;
    }

    .tagline{
        font-size: 4vh;
    }
    .abtBtn {
        padding: 14px;
        font-size: 18px;
        word-spacing: 4px;
        letter-spacing: 4px;
    }
}

@media (max-width: 499px) {
    .computer {
        margin-top: 1px;
        width: 100px;
    }

    .maincontainer .text1 {
        margin-top: 16vh;

    }

    .logoText{
        font-size: 20px;
    }

    .tagline{
        font-size: 20px;
    }
    
    .abtBtn {
        padding: 10px;
        font-size: 12px;
        word-spacing: 2px;
    }
}