@font-face {
  font-family: "ocr";
  src: url("./Component/fonts/OCRAEXT.TTF") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("./Component/fonts//OpenSans-CondBold.ttf") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  /* font-family: Helvetica; */
  font-family: "openSans";
}

/* Navigation codes */
nav {
  justify-content: space-between;
  display: flex;
  background-color: #3aafa9;
  z-index: 1;
  width: 100%;
  align-items: center;
  position: fixed;
  padding: 10px;
}

nav li {
  display: inline-flex;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 30px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

nav ul li a:hover {
  color: rgb(255, 255, 255);
  transition: all 0.5s ease os;
}

.logotext p {
  cursor: pointer;
  font-size: 28px;
  text-transform: uppercase;
  color: white;
  font-family: "ocr";
}

h1 {
  text-align: center;
}

/* 1st page */
.maincontainer {
  background-color: #3aafa9;
  height: 100vh;
  /* width: 100vw; */
}

.container {
  display: flex;
  margin: auto;
}

.maincontainer .text1 {
  margin: auto;
  margin-top: 30vh;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #fff;
  height: 300px;
}

.homeimage {
  margin: auto;
  margin-top: 15vh;
}

.abtBtn {
  text-transform: uppercase;
  padding: 14px;
  color: #000000;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  font-weight: bold;
  word-spacing: 10px;
  letter-spacing: 4px;
}

.btn {
  display: absolute;
  top: 200px;
  margin: 20vh 15vw;
}

/* About us */
.abutus {
  height: 100vh;
  display: inline-block;
  width: 100%;
}

.abtimg {
  text-align: center;
  transform: rotate(90deg);
  /* animation: rotation 2s infinite linear; */
}

.book-ani {
  animation: rotation 20s infinite linear;
}
.book:nth-child(1) {
  position: relative;
  top: 250px;
  right: 50px;
  transform: rotate(-55deg);
}

.book:nth-child(2) {
  position: relative;
  top: -20px;
  left: 650px;
  transform: rotate(-30deg);
}

.book:nth-child(3) {
  position: relative;
  top: 320px;
  left: 850px;
  transform: rotate(-30deg);
}

.book:nth-child(4) {
  position: relative;
  top: -20px;
  left: -450px;
  transform: rotate(-30deg);
}

.book:nth-child(5) {
  position: relative;
  top: 420px;
  left: -550px;
  transform: rotate(50deg);
}
.abtcontainer {
  background-color: #dedede;
  margin-top: 10%;
  margin-left: 25%;
  width: 50%;
  padding: 12px;
  border-radius: 25px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

.heading {
  color: #3aafa9;
  font-size: 45px;
  text-align: center;
  letter-spacing: 1.5px;
  /* font-family: 'OpenSans'; */
}

span {
  font-family: "ocr";
}

.abuttext {
  padding: 20px 20px;
  height: fit-content;
  font-size: 20px;
  letter-spacing: 0.9px;
  color: #2a938e;
  font-family: Helvetica;
  text-align: justify;
}

/* Website plans */
.webplans {
  /* border: 2px solid black; */
  height: 100vh;
  display: inline-block;
  width: 100%;
  background-color: #17252a;
}

.btnn {
  font-family: Helvetica;
  font-weight: bolder;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  text-transform: uppercase;
  background-color: #def2f1;
  color: #17252a;
}

.webheading {
  /* border: 2px solid white; */
  color: #3aafa9;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 12px;
  /* letter-spacing: 2.5px; */
  margin-top: 40px;
}

.planBox {
  /* color: #3AAFA9; */
  color: #def2f1;
  margin: 100px;
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.planBox > p {
  color: #557b79;
  font-size: x-large;
}

.planBox:hover {
  opacity: 1;
  /* color: red; */
  transform: scale(1.05);
}

.price {
  color: #3aafa9;
}

.webboxes {
  justify-content: center;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

/* FAQ headig */
.faq {
  height: 100vh;
  display: inline-block;
  width: 100%;
}

.faq2 {
  display: flex;
  justify-content: center;
}

.faqheading {
  color: #2a938e;
  font-size: 60px;
  letter-spacing: 1.5px;
  text-align: center;
  margin-top: 50px;
}

.faqbox {
  background-color: rgb(202, 202, 202);
  width: 20%;
  height: 400px;
  padding: 16px;
  margin: 90px 10px 0px 20px;
  border-radius: 25px;
  font-size: 20px;
  transition: 1s;
  cursor: pointer;
}

.faqbox:hover {
  transform: scale(1.05);
}

.question {
  color: #2a938e;
  font-family: "OpenSans";
  font-size: 35px;
}

.answertext {
  margin-top: 40px;
  color: #124d4c;
  font-size: 23px;
  font-family: "OpenSans";
  font-weight: 600;
}

/* Contact page */
.contact {
  /* border: 2px solid black; */
  height: 100vh;
  background-color: #17252a;
}

.contcontainer {
  position: absolute;
  display: flex;
  padding: 18px;
  /* border: 2px solid white; */
  margin-top: 110px;
  margin-left: 10em;
}

.contimg {
  width: 50%;
}

.contimg img {
  width: 100%;
}

.contline {
  border: 2px solid #2a938e;
  margin-left: 5%;
  height: 90%;
}

.contdetail {
  color: #fff;
  /* border: 2px solid white; */
  margin-left: 4em;
  width: 30em;
  position: relative;
  font-family: "OpenSans";
  float: right;
}

.contheading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90px;
}

.contheadname {
  font-family: Arial, Helvetica, sans-serif;

  font-size: 30px;
}

.conttexts {
  font-family: Arial, Helvetica, sans-serif;

  margin-top: 20px;
  line-height: 1.8;
  font-size: 22px;
}

.social_links a {
  margin-left: 1%;
}
